PORT=3000
FRONTEND_URL=http://localhost:5173
JWT_SECRET=yoursecretkey
MONGO_URL=yourdatabase
OPENAI_API_KEY=youropenaiapikey
CLOUD_NAME=yourcloudename
CLOUD_API_KEY=yourcloudekey
CLOUD_API_SECRET=yourcloudesecret